$purple-000: #007ba7 !default;
$purple-100: #007ba7 !default;
$purple-200: #007ba7 !default;
$purple-300: #007ba7 !default;

$blue-000: #007ba7 !default;
$blue-100: #007ba7 !default;
$blue-200: #007ba7 !default;
$blue-300: #007ba7 !default;
