$purple-000: #007ba7 !important;
$purple-100: #007ba7 !important;
$purple-200: #007ba7 !important;
$purple-300: #007ba7 !important;

$blue-000: #007ba7 !important;
$blue-100: #007ba7 !important;
$blue-200: #007ba7 !important;
$blue-300: #007ba7 !important;

$link-color: #323232 !default;
