$white: #fff;

$grey-dk-000: #959396;
$grey-dk-100: #5c5962;
$grey-dk-200: #44434d;
$grey-dk-250: #302d36;
$grey-dk-300: #27262b;

$grey-lt-000: #f5f6fa;
$grey-lt-100: #eeebee;
$grey-lt-200: #ecebed;
$grey-lt-300: #e6e1e8;

$purple-000: #175e82;
$purple-100: #175e82;
$purple-200: #175e82;
$purple-300: #175e82;

$blue-000: #175e82;
$blue-100: #175e82;
$blue-200: #175e82;
$blue-300: #175e82;

$green-000: #e5efd1;
$green-100: #c9d9a7;
$green-200: #7dba00;
$green-300: #689900;

$yellow-000: #ffe990;
$yellow-100: #ffd940;
$yellow-200: #ffbc00;
$yellow-300: #ccab00;

$red-000: #ffb290;
$red-100: #ff7b40;
$red-200: #ff4f00;
$red-300: #cc5500;

$body-background-color: $white;
$sidebar-color: $grey-lt-000;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $grey-lt-000;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $grey-dk-100;
$body-heading-color: $grey-dk-300;
$search-result-preview-color: $grey-dk-000;
$nav-child-link-color: $grey-dk-100;
$link-color: $purple-000;
$btn-primary-color: $purple-100;
$base-button-color: #f7f7f7;
